.container{
  height: 100%;
}
.right-portion{
 }
.left-portion{
margin: 50px 35px 0px 35px;
 height: 85%;
 z-index: 1;
border-radius: 550px 550px 0 0;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0) 0px 18px 36px -18px inset;
background: linear-gradient(to bottom,  #FCC201 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
.main-div{
    height: 100vh;
    width: 100%;
    // overflow: hidden;

    background-image: url("data:image/svg+xml,<svg id='patternId'  xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='69.282' height='40' patternTransform='scale(1) rotate(70)'><rect x='0' y='0' fill='hsla(0, 0%, 100%, 1)'/><path d='M34.641-20v80m34.64-40L0-20m69.282 80L0 20m69.282 0L0 60m69.282-80L0 20m69.282-40v80M0-20v80M34.64 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 40l11.547-20m11.547 20l11.547 20M34.641 40h23.094m11.547-20L57.735 40M46.188 20L34.641 40l11.547 20h23.094L80.83 40 69.282 20H46.188zM34.641 0l11.547-20M57.735 0l11.547 20M34.642 0h23.093m11.547-20L57.735 0M46.188-20L34.641 0l11.547 20h23.094L80.83 0 69.282-20H46.188zM34.641 40L23.094 20M11.547 40L0 60m34.64-20H11.548M0 20l11.547 20m11.547-20l11.547 20-11.547 20H0l-11.547-20L0 20h23.094zM34.641 0L23.094-20M11.547 0L0 20M34.64 0H11.548M0-20L11.547 0m11.547-20L34.641 0 23.094 20H0L-11.547 0 0-20h23.094z'  stroke-width='1' stroke='hsla(0, 0%, 0%, 0.14)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-46,0)' fill='url(%23a)'/></svg>")
}
.time-title{

  font-family: 'Konkhmer Sleokchher', cursive;
  text-align: center;
  font-size: 50px;
}
.time-fullcard{

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 80%;
    background-color: #00000023;
    margin: 10px;
    border-radius: 20px;
    font-family: 'Konkhmer Sleokchher', cursive;
    text-align: center;
    font-size: 50px;
}
.time-name{

}
.time-number{

}
.upcoming {
    background-color: #000000cb;
    background-position-x: 10px;
    width: 80%;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

//right
.right-portion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.current-time{
    font-size: 6.5rem;
    font-family: 'Konkhmer Sleokchher', cursive;
    text-align: center;
}
.current-date{
    font-size: 3.5rem;
 }
 .footer-message{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  position: fixed;
  bottom: 0;
  width: 100%;
  // background: white;
  z-index: 10;
  font-size: 30px;
 }
 .iso-marquee {
  padding: 1.0rem 0;
  font-size: 8vw;
  overflow: hidden;
 }

.iso-marquee--long {
  font-size: 1.25vw;
}

.iso-marquee-linkwrap a {
color:black;
}

.iso-marquee span {
  font-family: 'Konkhmer Sleokchher', cursive;
font-size: 30px;
   display: inline-block;
   white-space: nowrap;
   color:black;


   will-change: transform;
   animation: iso-marquee var(--ad) linear infinite;
   animation-play-state: play;
}

@keyframes iso-marquee {
   0% { transform: translateX(0); }
   100% { transform: translateX(-100%); }
}

/*
* on MacOs: System Preferences >
*           Accessibility >
*           Display > Reduce motion
*/

@media (prefers-reduced-motion: reduce) {
 .iso-marquee span {
   animation: none;
   text-shadow: none;
   width: auto;
   display: block;
   line-height: 1.5;
   text-align: center;
   white-space: normal;
 }
}
.time-remaining{
  background-color: #FCC20160;
  border-radius: 30px;
  padding:  30px 0px  0px 30px;
 font-size: 50px;
color: blue;
font-family: 'Konkhmer Sleokchher', cursive;
    text-align: center;
    width: 20%;
}

